<section class="my-4 max-w-5xl mx-auto">
  <div class="text-3xl font-bold mb-8"> {{ i18n "resume" }} &emsp;<a href="/about" style="opacity: 0.5;" alt="Read more">❯</a></div>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <div class="text-2xl font-semibold mb-4"> {{ i18n "work" }} </div>
      {{ range .Site.Params.homepage.resume.work}}
      <div>
        <div class="text-xl font-bold my-2">{{.name}}</div>
        <p class="my-1 font-light">{{.role}}</p>
        <p class="text-gray-500 my-1">{{.duration}}</p>
      </div>
      {{ end }}
    </div>

    <!-- Education -->
    <div>
		<div class="text-2xl font-semibold mb-4"> {{ i18n "education" }} </div>
		{{ range .Site.Params.homepage.resume.courses}}
		<div>
		  <div class="text-xl font-bold my-2">{{.name}}</div>
		  <p class="my-1 font-light">{{.provider}}</p>
		  <p class="text-gray-500 my-1">{{.duration}}</p>
		</div>
		{{ end }}
	  </div>

    <!-- Skills -->
    <div>
      <div class="text-2xl font-semibold mb-4"> {{ i18n "skills" }} </div>
      {{ range .Site.Params.homepage.resume.skills}}
      <div class="text-lg font-light my-2">{{.}}</div>
      {{end}}
    </div>

  </div>
  <br><br>

</section>
